* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: rgb(255, 200, 0);
}

#cenario {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/videos/spac1.mp4);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
}

#cenario video#video-fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Mantém o vídeo atrás de outros elementos */
    background-size: cover;
}


#menu {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nave {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(/imagens/nave_branca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
}

#botaoPausa {
    display: none;
    background-color: rgba(255, 255, 255, 0.166);
    color: black;
    padding: 30px;
    border-radius: 50%;
}



#telaInicial {
    position: absolute;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-menu {
    color: black;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.506);
}

.btn-menu:hover {
    background-color: #c6c6c6; /* Muda a cor de fundo para preto no hover */
    color: black; /* Muda a cor do texto para branco no hover */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do elemento */
}



@keyframes animarCenario {
    from {
        background-position-y: 100%;
    }
    to {
        background-position-y: 0%;  
    }
}


.naves {
    display: inline-block; /* Exibe os elementos lado a lado */
    margin: 10px 20px; /* Espaço entre as naves */
    border: solid 1px rgba(255, 255, 255, 0.501);
    border-radius: 10px;
}

.naves img {
    width: 200px; /* Largura das imagens das naves */
    height: auto; /* Altura ajustada automaticamente */
    cursor: pointer; /* Muda o cursor para indicar que o elemento é interativo */
    transition: filter 0.3s ease; /* Suaviza a transição do filtro */
}

.naves img:hover {
    filter: brightness(1.2); /* Aumenta o brilho da imagem ao passar o mouse */
}


.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fixo na tela */
    z-index: 1000; /* Garante que fique sobre outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semi-transparente */
}

.modal button {
    margin-top: 20px;
}

#escolha_da_nave {
    background-color: rgba(0, 0, 0, 0.864);
    margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Largura do conteúdo do modal */
    text-align: center; /* Alinha o texto ao centro */
}

#ver_inimigos {
    background-color: rgba(0, 0, 0, 0.864);
    margin: 5% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Largura do conteúdo do modal */
    text-align: center; /* Alinha o texto ao centro */
}

.naves_inimigas {
    display: inline-block; /* Exibe os elementos lado a lado */
    margin: 10px 20px; /* Espaço entre as naves */
    border: solid 1px rgba(255, 255, 255, 0.501);
    border-radius: 10px;
}

.naves_inimigas img {
    width: 200px; /* Largura das imagens das naves */
    height: auto; /* Altura ajustada automaticamente */
    cursor: pointer; /* Muda o cursor para indicar que o elemento é interativo */
    transition: filter 0.3s ease; /* Suaviza a transição do filtro */
}

.naves_inimigas img:hover {
    filter: brightness(1.2); /* Aumenta o brilho da imagem ao passar o mouse */
}

.fases {
    display: inline-block; /* Exibe os elementos lado a lado */
    margin: 10px 20px; /* Espaço entre os elementos */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Suaviza a transição de estilos */
    cursor: pointer; /* Muda o cursor para indicar que o elemento é interativo */
}

.fases:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho do elemento */
}

.fases img {
    width: 250px; /* Largura das imagens das naves */
    height: auto; /* Altura ajustada automaticamente */
    border: solid 2px white;
}

#escolha_da_fase {
    background-color: rgba(0, 0, 0, 0.864);
    margin: 5% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border-radius: 10px;
    width: 59%; /* Largura do conteúdo do modal */
    text-align: center; /* Alinha o texto ao centro */
}



.tooltip-text {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1000;
    white-space: nowrap;  /* Mantém o texto em uma única linha */
    max-width: 800px;     /* Limita a largura do tooltip */
  }
  
  .tooltip-text .title {
    font-weight: 500;
    font-size: 0.7em;
  }
  
  .tooltip-text .description {
    font-size: 0.4em;
    display: block;  /* Assegura que a descrição apareça em uma nova linha */
  }
  