* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

#cenario {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/videos/spac.mp4);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
}

#cenario video#video-fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Mantém o vídeo atrás de outros elementos */
    background-size: cover;
}


#menu {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nave {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(/imagens/nave_branca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
}

#botaoPausa {
    display: none;
    background-color: rgba(255, 255, 255, 0.166);
    color: black;
    padding: 30px;
    border-radius: 50%;
}



#telaInicial {
    position: absolute;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-menu {
    color: black;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

@keyframes animarCenario {
    from {
        background-position-y: 100%;
    }
    to {
        background-position-y: 0%;  
    }
}


.naves {
    display: inline-block; /* Exibe os elementos lado a lado */
    margin: 10px 20px; /* Espaço entre as naves */
}

.naves img {
    width: 200px; /* Largura das imagens das naves */
    height: auto; /* Altura ajustada automaticamente */
}







.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fixo na tela */
    z-index: 1000; /* Garante que fique sobre outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semi-transparente */
}

#escolha_da_nave {
    background-color: rgba(0, 0, 0, 0.864);
    margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Largura do conteúdo do modal */
    text-align: center; /* Alinha o texto ao centro */
}
